

body {
  padding: 30px;
  background-color: #dc9572;
}
/*.text{
font-size: 25px;
line-height: 35px;
margin-bottom: 20px;




}
.list{

}

.list li{

font-size: 25px;
margin-bottom: 30px;
}

.text::first-line{
  color: blue;
}

.text::first-letter{
  color: blueviolet;
  font-size: 50px;
}

.list li::before{
  content:'';
width: 10px;
height: 10px;
border-radius: 50%;
background-color: red;
display: inline-block;
margin-right: 10px;
}*/






/*.title::before{

content: '';
  width: 10px;
  height: 10px;
  background-color:blue;

}
.title::after{

content: '';
  width: 10px;
  height: 10px;
  
  background-color: red;


}*/

.wrapper{
min-height: 100%;
  padding: 50px;
}
.container {
min-width: 1000px;
margin: 0 auto;
display: flex;
flex-direction: column;
}

.block{
  margin-bottom: 100px;
}

.block-wrapper{

  position: relative;
}


.block-wrapper::before{
content: "before";
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(55, 0, 255);
width: 50px;
min-width: 200px;
height: 150px;
border-radius: 1rem;
font-size: 50px;
color: #fff;
position: absolute;
top: 100px;
left: 0px;

}






.block-wrapper::after{
  content: "after";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(182, 15, 15);
  width: 50px;
  min-width: 200px;
  height: 150px;
  border-radius: 1rem;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 100px;

right: 100px;
}

.text {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
color: #333;
font-weight: 800;
}


